{% extends 'base.html.twig' %}

{% block title %}Votre compte a bien été supprimé
{% endblock %}

{% block body %}
<div class="container">
    <div class="py-5">
        <h1>Compte supprimé</h1>
        <p class="mb-3"> Nous vous confirmons la suppression de votre compte ainsi que vos données</p>
        <a href="{{ path('site_index') }}" title="Retour à l'accueil" class="btn btn-primary">Retour à l'accueil </a>
    </div>
</div>
{% endblock %}

