{{ form_start(form) }}
    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.lastName) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.email) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.phone) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.companyName) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.siret) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.address) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(form.zipCode) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(form.city) }}
        </div>
        <div class="col-lg-8">
            {{ form_row(form.comment) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(form.roles) }}
        </div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}