{% extends 'base_admin.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <h1>Modifier un utilisateur</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <hr>

    <div class="d-flex">
        <a href="{{ path('admin_user_index') }}" class="btn btn-outline-primary me-2">Retour à la liste</a>
        {% if is_granted('USER_DELETE', user) %}
            {{ include('admin/user/_delete_form.html.twig') }}
        {% endif %}
    </div>

{% endblock %}
