{% extends 'base_admin.html.twig' %}

{% block title %}{{ user.fullName }}{% endblock %}

{% block body %}
    <h1>{{ user.fullName }} <small class="text-muted">#{{ user.id }}</small></h1>
    <h2>Informations</h2>
    <ul>
        <li><strong>Email</strong> : {{ user.email }}</li>
        <li><strong>Téléphone</strong> : {{ user.phone }}</li>
        <li><strong>Adresse</strong> : {{ user.address }} - {{ user.zipCode }} {{ user.city }}</li>
        <li><strong>Date d'inscription</strong> : {{ user.registerAt|date('d-m-Y H:i:s') }}</li>
    </ul>

    {% if user.companyName is not empty %}
        <h2>Entreprise : {{ user.companyName }}</h2>
        <p>Siret: {{ user.siret ? user.siret : 'N/C' }}</p>
    {% endif %}

    <h2>Rôle(s)</h2>
    <ul>
        {% for role in user.roles %}
            <li>{{ role }}</li>
        {% else %}
            <li>Utilisateur banni</li>
        {% endfor %}
    </ul>

    <h2>Commentaire</h2>

    <p>{{ user.comment ? user.comment : 'Aucun commentaire' }}</p>

    <hr>

    <div class="d-flex">
        <a href="{{ path('admin_user_index') }}" class="btn btn-outline-primary me-2">Retour à liste</a>
        {% if is_granted('USER_EDIT', user) %}
            <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-outline-warning me-2">Modifier</a>
        {% endif %}
        {% if is_granted('USER_DELETE', user) %}
            {{ include('admin/user/_delete_form.html.twig') }}
        {% endif %}

    </div>
{% endblock %}
