{% extends 'base.html.twig' %}

{% block title %}Fonctionnement{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="mb-3">Fonctionnement du site</h1>

        {% if is_granted('IS_ANONYMOUS') %}
            <div class="alert alert-danger mb-3">
                <i class="fas fa-exclamation-circle"></i> Pour réserver une salle, vous devez être <a href="{{ path('app_login') }}" title="Se connecter" class="text-danger">connecté.</a>
            </div>
        {% endif %}

        <h2 class="mb-4">Les étapes pour réserver</h2>

        <div class="row">
            <div class="col-md-6 col-lg-4  d-flex align-items-start">
                <i class="fas fa-building fa-2x me-4"></i>
                <div>
                    <h3>Type de local</h3>
                    <p>Sélectionner le type de local qui vous interesse</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-start">
                <i class="fas fa-calendar fa-2x me-4"></i>
                <div>
                    <h3>Date</h3>
                    <p>Choisissez la date d'entrée et de sortie des lieux qui vous interessent</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4  d-flex align-items-start">
                <i class="fas fa-swatchbook fa-2x me-4"></i>
                <div>
                    <h3>Ambiance</h3>
                    <p>Parmi les bureaux disponibles, choisissez celui dont l'ambiance vous plait</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-start">
                <i class="fas fa-calendar-check fa-2x me-4"></i>
                <div>
                    <h3>Réservation</h3>
                    <p>D'un clic, validez votre réservation. Si besoin, faites nous part d'une demande particulière (sièges supplémentaires, vidéoprojecteur)</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-start">
                <i class="fas fa-money-bill-alt fa-2x me-4"></i>
                <div>
                    <h3>Paiement</h3>
                    <p>Payez en toute sécurité en ligne pour valider votre réservation</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-start">
                <i class="fas fa-gifts fa-2x me-4"></i>
                <div>
                    <h3>Profitez</h3>
                    <p>Des boissons sont gratuitement mises à votre disposition dans la salle commune, il ne vous reste plus qu'à entrer le code de la porte et profiter de votre location !</p>
                </div>
            </div>

        </div>

        <h2 class="mb-4">Plan du site</h2>

        <img src="{{ asset('build/images/plan_rdc.png') }}" alt="Plan du rez-de-chaussée" class="img-fluid">
        <img src="{{ asset('build/images/plan_etage.png') }}" alt="Plan de l'étage" class="img-fluid">
    </div>

{% endblock %}


