{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <h1>Nous contacter</h1>

                {% include "utils/alert.html.twig" %}

                {{ form_start(contact_form) }}
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_row(contact_form.name) }}
                        </div>

                        <div class="col-lg-6">
                            {{ form_row(contact_form.email) }}
                        </div>
                    </div>

                    {{ form_row(contact_form.subject) }}

                    {% if contact_form.date is defined %}
                        {{ form_row(contact_form.date) }}


                    {% endif %}

                    {{ form_rest(contact_form) }}

                    <button type="submit" class="btn btn-dark">{% trans %}contact.button{% endtrans %}</button>

                {{ form_end(contact_form) }}
            </div>

            <div class="col-lg-4">
                <h3>Informations</h3>
                <address>
                        1 Chemin de la Trière<br>
                        (Entrée : boulevard du Taillefer)<br>
                        38240 Meylan<br>
                        <a href="tel:0476000000" title="Nous appeler">04 76 00 00 00</a>
                    </address>

                    <p>Lucie Delavega - Co-dirigeante <br> <a href="tel:047600000001" title"Nous appeller">04 76 00 00 01</a></p>
                    <p>Mathieu Roserai - Responsable commercial <br> <a href="tel:047600000002" title"Nous appeller">04 76 00 00 02</a></p>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contactForm') }}
{% endblock %}