{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="py-5 text-center">
        <div class="container">
            <p class="h1">1'Loc</p>
            <h1>Réservez votre bureau à Meylan en toute simplicité</h1>
            <p>2000m² de bureaux d'entreprise</p>
            <p>Avec 1'Loc réservez votre bureau depuis chez vous et venez travailler a l'heure que vous voulez</p>
        </div>
    </div>

    <section class="bg-light py-5 text-center mb-5">
        <div class="container">
            <h2 class="mb-4">Le concept 1'Loc</h2>

            <div class="row">
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <i class="fas fa-quote-right fa-2x"></i>
                            <h3>Simplicité</h3>
                            <p>Vous pouvez reserver votre bureau de chez vous en ligne.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <i class="fas fa-angle-double-right fa-2x"></i>
                            <h3>Rapidité</h3>
                            <p>Vous n'avez pas besoin de récupérer une clé a l'accueil, un simple code suffira a acceder à votre bureau</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <i class="fas fa-cogs fa-2x"></i>
                            <h3>Adaptabilité</h3>
                            <p>Les bureaux peuvent etre personnalisés à l'image de votre entreprise</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <i class="fas fa-history fa-2x"></i>
                            <h3>24h/24</h3>
                            <p>Votre bureau est accessible quand vous le souhaitez</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <figure class="col-lg-4 mb-5">
                    <img src="https://via.placeholder.com/700x350" alt="" class="img-fluid">
                </figure>

                <article class="col-lg-7 offset-lg-1 mb-5">
                    <h2>Simplicité</h2>
                    <p>Un concept unique, vous réservez votre bureau sur notre site.
                    Nous vous envoyons votre code et votre contrat de location par mail. Il ne vous reste plus qu’a profiter de votre bureau.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto optio harum et voluptatibus incidunt fugiat consequuntur dolor, vero maxime inventore velit illum ipsa ab accusantium tempore? Quisquam facilis fugiat voluptatibus?</p>
                </article>

                <article class="col-lg-7 mb-5">
                    <h2>Aide aux jeunes entrepreneurs</h2>
                    <p>Oubliez les frais d’installation, les investissements en capital et autres inconvénients : nous vous <strong>soulageons du poids</strong> de la gestion immobilière.
                    Vous bénéficiez <strong>d’un contrat unique, d’un reporting simplifié</strong>, d’un chargé de compte dédié et d’une assistance 24h/24, 7j/7.
                    Augmentez ou réduisez l’espace de travail <strong>de manière flexible</strong>, en fonction de vos besoins actuels et futurs.</p>
                </article>

                <figure class="col-lg-4 offset-lg-1 mb-5">
                    <img src="https://via.placeholder.com/700x350" alt="" class="img-fluid">
                </figure>

                <figure class="col-lg-4 mb-5">
                    <img src="https://via.placeholder.com/700x350" alt="" class="img-fluid">
                </figure>

                <article class="col-lg-7 offset-lg-1 mb-5">
                    <h2>Adaptabilité</h2>
                    <p>Nos espaces de travail professionnels et stimulants sont conçus pour convenir à <strong>toutes les entreprises et tous les budgets.</strong>
                    Nos bureaux sont modulables à volonté, si vous avez besoin d’un ordinateur ou d’un vidéoprojecteur.</p>
                    <p>Pas de problème nous nous occupons de tout.</p>
                </article>

            </div>
        </div>
    </section>

    <div class="py-5 text-center bg-info">
        <div class="container">
            <h4 class="mb-4">Démarrez l’aventure 1’Loc, venez découvrir les différents espaces disponible .</h4>
            <a href="{{ path('site_show_all_rooms') }}" title"Voir nos salles" class="btn btn-dark btn-lg">Voir nos salles</a>
        </div>
    </div>

    <section class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d702.7467830505971!2d5.782368829188667!3d45.20759589869368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af594f118003f%3A0x94fb5b99de0d9f61!2s38240%20Meylan!5e0!3m2!1sfr!2sfr!4v1628064801944!5m2!1sfr!2sfr" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <h3>Nous trouver</h3>
                    <address>
                        1 Chemin de la Trière, (entrée : boulevard du Taillefer)<br>
                        38240 Meylan
                        <a href="tel:0476000000" title="Nous appeler">04 76 00 00 00</a>
                    </address>

                    <p>Lucie Delavega - Co-dirigeante <br> <a href="tel:047600000001" title"Nous appeller">04 76 00 00 01</a></p>
                    <p>Mathieu Roserai - Responsable commercial <br> <a href="tel:047600000002" title"Nous appeller">04 76 00 00 02</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
