{% extends "base.html.twig" %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <div class="py-5">
        <div class="container">
            <h1>{{ category.name }}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sunt perferendis quo ea impedit laudantium sint tenetur! Totam autem neque pariatur consectetur animi adipisci, ad provident, accusamus reprehenderit nihil culpa.</p>

            <div class="row">
                {% for room in rooms %}
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="card">
                            {% if room.images is not empty %}
                                <img src="{{ vich_uploader_asset(room.images[0]) }}" alt="{{ room.images[0].name }}" class="card-img">
                            {% else %}
                                <img src="{{ asset('build/images/img-placeholder.png') }}" alt="Salle" class="card-img">
                            {% endif %}
                            <div class="card-body">
                                <h2 class="card-title h4">{{ room.name }}</h2>
                                <p class="card-text">{{ room.description|u.truncate(140, '...', true) }}</p>
                                <div class="d-flex justify-content-between">
                                    <p><i class="fas fa-chair"> {{ room.seat }}</i></p>
                                    <p><i class="fas fa-expend-arrow-alt">{{ room.surface }}m²</i></p>
                                    <p><i class="fas fa-money-bill-alt"> {{ room.price|number_format(2, ',', ' ') }}€</i></p>
                                </div>
                                <a href="{{ path('site_show_room', {'slug': room.slug}) }}" title="Voir la salle" class="btn btn-primary">Voir la salle</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="d-flex justify-content-center">
                {{ knp_pagination_render(rooms) }}
            </div>
        </div>
    </div>
{% endblock %}