<form method="post" action="{{ path('admin_reservation_cancel', {'id': reservation.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir annuler cette réservation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ reservation.id) }}">
    <button class="btn btn-danger">Annuler la réservation</button>
</form>
