{% extends 'base_admin.html.twig' %}
{% block title %}Réservation #{{ reservation.id }}{% endblock %}

{% block body %}
    <h1>Réservation <small class="text-muted">#{{ reservation.id }}</small></h1>
    <h2>Informations</h2>
    <ul>
        <li><strong>Début</strong> : {{ reservation.dateStart|date('d-m-Y H:i') }}</li>
        <li><strong>Fin</strong> : {{ reservation.dateEnd|date('d-m-Y H:i') }}</li>
        <li><strong>Salle(s)</strong> : {{ reservation.room.name }}</li>
        <li><strong>Prix</strong> {{ reservation.total|number_format(2, ',', ' ') }}€</li>
        <li><strong>Statut</strong>: {{ include('utils/_reservation_status_badge.html.twig') }}</li>
        <li><strong>Code</strong> : {{ reservation.code }}</li>
    </ul>

    <h2>Client</h2>
    <address>
        {{ reservation.user.fullName }}<br>
        {{ reservation.user.companyName ? reservation.user.companyName : '' }}<br>
        {{ reservation.user.address }}<br>
        {{ reservation.user.zipCode }} - {{ reservation.user.city }}<br>
    </address>


    <h2>Commentaire</h2>
    <p>{{ reservation.comment ? reservation.comment : 'N/C' }}</p>

    <p>
        <a href="{{ asset(reservation.invoice) }}" target="_blank"class="btn btn-primary" title="Télécharger la facture">Télécharger la facture</a>
    </p>

    <hr>

    <div class="d-flex">
        <a href="{{ path('admin_reservation_index') }}" class="btn btn-outline-primary me-2">Retour à liste</a>
        {% if is_granted('RESERVATION_CANCEL', reservation) %}
            {{ include('admin/reservation/_cancel_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}