{% extends 'base.html.twig' %}

{% block title %}Reinitialisez votre mot de passe{% endblock %}

{% block body %}
<div class="py-5">
    <div class="container">
        <h1>Reinitialisez mon mot de passe</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.password) }}
            <button class="btn btn-primary">Reinitialiser</button>
        {{ form_end(resetForm) }}
    </div>
</div>
{% endblock %}
