{% extends 'admin/room/template_form.html.twig' %}

{% block title %}Ajouter une nouvelle salle{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle salle</h1>

    {{ include('admin/room/_form.html.twig') }}

    <hr>

    <a href="{{ path('admin_room_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
{% endblock %}
