{% extends 'base_admin.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('imageForm') }}
{% endblock %}

{# On utilise en plus sur cette page le template définit dans le fichier #}
{% form_theme form _self %}

{# On créer un template pour le prototype de la collection du formaulire (images) #}
{% block _room_images_entry_row %}
    <div class="row align-items-end js-line">
        <div class="col-lg-6">{{ form_row(form.imageFile) }}</div>
        <div class="col-lg-5">{{ form_row(form.name) }}</div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-danger mb-3 js-delete">
                <i class="fas fa-trash js-delete"></i>
            </button>
        </div>
    </div>
{% endblock %}
