{% extends 'base_admin.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <h1>Statistiques</h1>
    <hr>
    <canvas id="chart1" data-incomes="{{ chart1.incomes }}" data-days="{{ chart1.days }}"></canvas>

    <div class="row">
        <div class="col-lg-6">
            <canvas id="chart2" data-reserved="{{ chart2.reserved }}" data-total="{{ chart2.total }}"></canvas>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('chart') }}
{% endblock %}
