<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} - 1'Loc</title>
        {{ encore_entry_link_tags('admin') }}
        {% block stylesheets %}{% endblock %}

        {{ encore_entry_script_tags('admin') }}
        {% block javascripts %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>

    </head>
    <body>
        <div class="d-flex" style="min-height: 100vh;">
            <div class="d-flex flex-column flex-shrink-0 p-3 me-5 text-white bg-dark" style="width: 280px;">
                <p class="fs-4 mb-0">Administration</p>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{{ path('admin_index') }}" class="nav-link text-white {{ active('admin_index') }}">
                            <i class="fas fa-home"></i>
                            Accueil
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_room_index') }}" class="nav-link text-white {{ active('room') }}">
                            <i class="fas fa-building"></i>
                            Salles
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_category_index') }}" class="nav-link text-white {{ active('category') }}">
                            <i class="fas fa-tag"></i>
                            Catégories
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_reservation_index') }}" class="nav-link text-white {{ active('reservation') }}">
                            <i class="fas fa-calendar-check"></i>
                            Réservations
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_user_index') }}" class="nav-link text-white {{ active('user') }}">
                            <i class="fas fa-users"></i>
                            Utilisateurs
                        </a>
                    </li>
                     <li>
                        <a href="{{ path('admin_stat') }}" class="nav-link text-white {{ active('stat') }}">
                            <i class="fas fa-chart-line"></i>
                            Statistiques
                        </a>
                    </li>
                </ul>
                <a href="{{ path('site_index') }}" class="btn btn-light">
                    <i class="fas fa-angle-left"></i>
                    Retour au site
                </a>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong>{{ app.user.fullName }}</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a href="{{ path('profile_show') }}" class="dropdown-item">Mon compte</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a href="{{ path('app_logout') }}" class="dropdown-item">Se déconnecter</a></li>
                    </ul>
                </div>
            </div>

            <main class="py-3 me-5" style="width: 100%">
                {% block body %}{% endblock %}
            </main>
        </div>
    </body>
</html>