<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} - 1'Loc</title>
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a href="{{ path('site_index') }}" class="navbar-brand">
                    <img src="{{ asset('build/images/logo.png') }}" alt="1'Loc" width="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Ouvre la navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="{{ path('site_index') }}" class="nav-link {{ active('index') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('site_show_all_rooms') }}" class="nav-link {{ active('show_all_rooms') }}">Nos salles</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('site_about') }}" class="nav-link {{ active('about') }}">Fonctionnement</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('site_contact') }}" class="nav-link {{ active('contact') }}">Contact</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-2 mb-2 mb-lg-0">
                        {% if is_granted('IS_ANONYMOUS') %}
                            <li class="nav-item">
                                <a href="{{ path('app_register') }}" class="nav-link {{ active('register') }}">Inscription</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_login') }}" class="nav-link {{ active('login') }}">Connexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ app.user.fullName }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a href="{{ path('profile_show') }}" class="dropdown-item">Mon compte</a></li>
                                    <li><a href="{{ path('profile_reservation') }}" class="dropdown-item">Mes réservations</a></li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('admin_index') }}" class="dropdown-item">Administration</a></li>
                                    {% endif %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <main class="mb-5">
            {% block body %}{% endblock %}
        </main>

        <footer class="bg-light">
            <div class="container py-4">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>1'Loc</h4>
                        <address>
                            1 Chemin de la Trière, (entrée : boulevard du Taillefer), <br>
                            38240 Meylan
                            <a href="tel:0476000000" title="Nous appeler">04 76 00 00 00</a>
                        </address>
                    </div>

                    <div class="col-lg-4">
                        <h4>Réseaux sociaux</h4>
                        <a href="#" title="Page Facebook" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="#" title="Compte Twitter" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                        <a href="#" title="Feed Instagram" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>

                    <div class="col-lg-4">
                        <h4>Liens utiles</h4>
                        <ul>
                            <li>
                                <a href="#" title="Conditions générales de vente">CGV</a>
                            </li>
                            <li>
                                <a href="{{ path('site_legals') }}" title="Mentions légales">Mentions légales</a>
                            </li>
                            <li>
                                <a href="#" title="Politique de confidentialité">Politique de confidentialité</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="border-top text-center pt-4">
                    <p class="mb-0">Projet fictif réalisé dans le cadre de la formation CDA - M2I Grenoble. Contenu textuel et photographique - Aucun droits réservés</p>
                </div>
            </div>
        </footer>
    </body>
</html>
{#gg#}
