{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="py-5">
    <div class="container">
        <h1>Connexion</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% include 'utils/alert.html.twig' %}
            <div class="mb-3 w-50">
                <label for="inputEmail" class="py-2">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div class="mb-3 w-50">
                <label for="inputPassword" class="py-2">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi ?
                    </label>
                </div>

            <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
            <a href="{{ path('app_forgot_password_request') }}" class="btn btn-link">Mot de passe perdu ?</a>
        </form>
    </div>
</div>
{% endblock %}
